@CHARSET "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
li{
    list-style: none;
}
/* 交易量 start */
.ptName{
	font-size:0.8rem;
    margin: 1rem 0.1rem;
}
.ptNameSelect{
	display:inline-block;
}

/* 交易量 end */
