/*全局变量*/
:root{
    --themeBlue: #00adef;
}

/*全局设置-----start*/
@media all {
    * {
        /*font-family: PingFang SC, microsoft yahei, sans-serif;*/
        font-family:  sans-serif;
        color: white;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }

    a {
        cursor: pointer;
    }

    a,
    a:hover,
    a:focus,
    a:visited {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    /*
    select, option {
        background-color: transparent;
    }

    option {
        color: var(--themeBlue);
    }

    select {
        padding: .2rem;
        border-radius: .2rem;
        border-color: var(--themeBlue);
    }
    */

}
/*自定义样式*/
@media all {
    .chartContent>header{
        padding-top: .6rem;
        /*text-align: center;*/
    }
    .pageHeader{
        background-color: #0d175066;
        box-shadow: 0 0 0.3rem 0.1rem rgba(0,0,0,.2);
        padding: .4rem .6rem;
        margin: .5rem .5rem 0;
    }
    /*输入组框*/
    .inputGroup {
        display: inline-block;
        margin-left: 1rem;
        font-size: .72rem;
    }
    /*按钮组*/
    .btnGroup {
        text-align: center;
        font-size: .72rem;
    }

    .btnGroup>button {
        margin-bottom: .3rem;
        padding: .2rem .8rem;
        /*font-size: .8rem;*/
        color: var(--themeBlue);
        background-color: transparent;
        border: 1px solid var(--themeBlue);
        border-radius: .2rem;
    }

    .btnGroup>button.active {
        color: #fff;
        background-color: var(--themeBlue);
    }

}

/*test-----start*/
@media all {
    h2 {
        text-align: center;
        color: #0f0;
    }
}


@media screen and (min-width: 1921px) {
    html{
        font-size: 28px;
    }
}
@media screen and (min-width: 1441px) and (max-width: 1920px){
    html{
        font-size: 20px;
    }
    .chartBodyRight .chartBodyRightList ul li{
	    height: 40%;
	    margin-top:1%;
	}
	.chartBodyLeft .rank {
	    top: 37px;
	    left: 53px;
	 }
}
@media screen and (min-width: 1681px) and (max-width: 1920px){
    html{
        font-size: 20px;
    }
    .chartBody .chartBodyLeft {
	    width: 160px;
	}
	.chartBody .chartBodyLeftTop {
	    margin-top: -92px;
	}
	.chartBody .chartBodyLeftTop > img {
	    width: 120px;
	}
	.chartBodyLeft .rank {
	    top: 56px;
	    left: 73px;
	 }
	 .chartBody .chartBodyRight {
	    width: calc(100% - 600px);
	}
	.chartBodyRightCircle canvas {
	    margin-top: -80px;
	    margin-left: -80px;
	}
	.chartBodyRightCircle .chartBodyNumber {
	    top: 54%;
	}
}
@media only screen and (max-width: 1600px){
	.chartBodyRight .chartBodyRightList ul li{
		margin-left: 6%;
	    width: 27%;
	}
}
@media screen and (min-width: 1367px) and (max-width: 1440px){
    html{
        font-size: 18px;
    }
    .chartBodyRight .chartBodyRightList ul li{
	    margin-left: 6%;
	    width: 27%;
	}
}
@media screen and (min-width: 900px) and (max-width: 1366px){
    html{
        font-size: 16px;
    }
    .chartBodyRight .chartBodyRightList ul li{
	    height: 40%;
	    margin-top:1.5%;
	}
}
