:root {
    --green: #009694;
}

a {
    color: #fff;
}

.container {
    height: 100%;
}

/*左侧导航*/
.leftNav {
    height: 100%;
    float: left;
    width: 12%;
    position: relative;
}

.leftNav .logo {
    width: 8em;
    height: 7em;
    line-height: 7em;
    text-align: center;
    margin: 0 auto;
}

.leftNav ul {
    height: 55%;
}

.leftNav ul li {
    position: relative;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.125rem;
    padding-left: 5rem;
    cursor: pointer;
}

.leftNav ul.ful>li:hover{
/*.leftNav ul.secondM>li:not(.resBox):hover {*/
    background: var(--green);

}

.leftNav ul li:hover span {
    font-size: 1.5rem;
}

/*.leftNav ul li i {
    float: left;
    margin-right: 0.8em;
}*/

.leftNav ul li span {
    float: left;
/*以下让超出宽度的字用三个点代替*/
     white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 6rem;
 }

.mine_menu li>i{
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    top: 1.5rem;
    left: 2.5rem;
    background: url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/image/36line.png') no-repeat;
    background-size: contain;
}

.full > li > span {
    letter-spacing: 29px;
}

.leftNav .secondM li {
    /*height: 45px;*/
    /*line-height: 45px;*/
}

.timer {
    height: 130px;
    position: absolute;
    bottom: 5rem;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
}
.timer.relative{
	position: relative;
    transform: initial;
    left: 0px;
    bottom: 0;

	}
.timer.relative canvas{
	margin-left: 23%;
}
	
.timer span {
    width: 100%;
    display: block;
    text-align: center;
    height: 20%;
    line-height: 1em;

}

.rq {
    margin-top: 2em;
    font-family: "苹方细体";
}

.activeLi {
    background: var(--green);
}

.activeLi span {
    font-size: 0.9rem;
}

canvas {
    display: block;
}

#clock {
    /*margin-left: 3em;*/
}

/*二级菜单*/
.secondM {
    display: none;
    position: relative;
}

.secondM li.resBox {
    height: 7rem;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: .5em;
    padding-left: 1rem;
    text-align: center;
}

.secondM .resBox i {
    display: block;
    float: none;
    width: 3rem;
    height: 3rem;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    font-size: 2em;
    margin: auto;
    background-image: url('${servletURL}?op=resource&resource=/com/fr/solution/theme/sky/files/image/left.png');
}

.secondM .resBox span {
    display: block;
    float: none;
    text-align: center;
    margin-top: 3.25rem;
    font-size: 1.375rem;
    width: 90%;
}

.leftNav > ul > li:hover {
    /*background: var(--green);*/
}

/*三级菜单*/
 .threeM {
    position: absolute;
    /*left: 16.87%;*/
    top: 55px;
    padding-left: 0;
    width: auto;
    height: auto;
    z-index:9999;
    
    left: 12%;
}

.threeM > ul {
    writing-mode: vertical-lr;
    position: relative;
    display: none;
    /*top: 45px;*/
    padding: 10px;
    height: 270px;
    max-height: 360px;
    background: var(--green);
}

.threeM > ul > li {
    writing-mode: rl;
    display: inline-block;
    border: solid 1px var(--green);
    background: #00a694;
    width: 7em;
    padding-left: 2em;
    padding-right: 2em;
    margin: -.0625rem .0625rem;
    line-height: 4.5rem;
    font-size: 1.125rem;
    cursor: pointer;
}

.threeM > ul > li:hover {
    color: var(--green);
    background: #fff !important;
}

/*右侧*/
.rightContent {
    height: 100%;
    float: left;
    width: 88%;
}

.topCon {
    height: 4.5rem;

}

.topCon p {
    font-size: 2rem;
    text-align: center;
    line-height: 4.5rem;
    font-weight: bold;
    margin: 0 auto;
}
nav[aria-label]{
    position: absolute;
    top: 1rem;
}
.breadcrumb{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
}
.breadcrumb-item:empty{
    display: none;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #fff;
    content: ">";
}

.mainCon {
    height: calc(100% - 4.5rem);
    background: #fff;
}
@media screen  and (max-width: 1600px){
    html{
        font-size: 12px;
    }
}
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{ margin:0; padding:0; font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;}
img{display:block;border:0;}
i,em{font-style:normal;}
b,strong{font-weight:100;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility: hidden;}

html,body {
	background: #323a6e;
	height:100%;
	color:#fff;
}


/* 帆软嵌入后补充 */
[id^=senond_menu_id]:hover{
	background: var(--green);
}
