.node-navi{
	position: relative;
	float: right;
	right: 30px;
	list-style: none;
	height: 60px;
	top: 0;
}

.node-navi li{
	position: relative;
	float: left;
	left: 0;
	display: block;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 14px;
	padding: 0 15px;
	cursor: pointer;
}

.node-navi li:hover{
	color: #6fd3ff;
}

.node-pane{
	position: absolute;
	top: 60px;
	left: 0;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	z-Index: 10000;
}
.node-pane-inner{
	position: relative;
	_height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	background: rgb(41, 90, 148);
	background: rgba(41, 90, 148, 0.85);
	*width:200px;
}
.node-select{
	background: #295a94;
}

.node-pane a, .node-title{
	position: relative;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	min-width: 160px;
	_width:180px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: white;
	padding: 3px 5px 3px 12px;
	cursor: pointer;
}

.node-pane a:hover{
	background: rgb(41, 90, 148);
}
.node-title{
	padding: 5px 5px 5px 4px;
	cursor: default;
	color: #6fd3ff;
	font-weight: bold;
}
.fui-seb{
	background-color:transparent;
}
  
#fs-frame-menu{
	background:none;
	
}
#fs-frame-content{
    background-color: rgba(255,255,255,0.1);
}
.fui-bsb{  
  background-color: rgba(13,23,80,0.5);  
}  
.fui-bsc{  
  color: red;  
}  
.fui-bsd{  
  border-color: red;  
}   
.fui-fhc{
  color: transparent;
}
.fui-fht{
  text-shadow: 0;
}

.fs-menutree，。ui-state-enabled{
	padding-top:10px;

}

#monitor_box_table{
	width:100%;
	color:red;
	text-align:center;
	display:table;
	font-size:1.2em
}
